// colors
$menu-color: #435993;
$menu-color-active: #1c1c1c;
$border-color: #e5e5e5;
$placeholder-color: #c8c8c8;
$check-border-color: #43598f;
$check-hover-color: #e9efff;
$check-bg-color: #435993;
$button-bg-color: #435993;
$button-text-color: #fff;
$select-bg-color: #fff;

$blue: #435993;